section {
  overflow: auto;
}

.portfolio--container {
  height: 100vh;
  background: rgb(115, 238, 238);
  background: linear-gradient(
    0deg,
    rgba(115, 238, 238, 1) 14%,
    rgba(247, 255, 227, 1) 73%
  );
}

.card--containers {
  display: flex;
  justify-content: center;
}

.card--container-item {
  display: flex;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  width: 20%;
  height: auto;
}

.card {
  border-radius: 10px;
  height: 50vh;
  width: 30vh;
}

.card--title {
  font-size: 3vh;
  padding-top: 0rem;
  color: black;
  padding-bottom: 10px;
}

.card--body {
  font-size: 2vh;
  text-align: center;
  color: black;
}

.card--button {
  position: relative;
  width: 24vh;
  height: 6vh;
}

.card--image {
  margin-top: 4vh;
  width: auto;
  height: 20vh;
}

.portfolio--body {
  text-align: left;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}

.button--text {
  font-size: 1.5vh;
}
