.contact--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.contact--title {
  color: black;
  text-align: center;
  padding: 2rem 2rem;
}

.icon {
  height: 100rem;
  width: 100rem;
}
