.footer {
  height: 3rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.copyright {
  font-size: xx-small;
  color: white;
}

.social--media--links {
  display: flex;
  list-style: none;
  justify-content: left;
}

.social--media--links-item {
  -webkit-text-stroke: 0.5px black;
  /* background-color: black; */
  cursor: pointer;
  margin-left: 1rem;
}
